<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.aruncyberspace.attendance_management_system_student" >

    <!-- permissions required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
     
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".SignInActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.aruncyberspace.attendance_management_system_student.SignInActivity" />
        </activity>
        <activity
            android:name=".StudentMainActivity"
            android:label="@string/title_activity_student_main"
            android:parentActivityName=".SignInActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.aruncyberspace.attendance_management_system_student.SignInActivity" />
        </activity>
        <activity
            android:name=".QRCodeGenerateActivity"
            android:label="@string/title_activity_qrcode_generate"
            android:parentActivityName=".StudentMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.aruncyberspace.attendance_management_system_student.StudentMainActivity" />
        </activity>
        <activity
            android:name=".ViewTopics"
            android:label="@string/title_activity_view_topics"
            android:parentActivityName=".StudentMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.aruncyberspace.attendance_management_system_student.StudentMainActivity" />
        </activity>
    </application>

</manifest>
